.display-4{
  font-weight: bold;
  color: rgb(51,0,111);
}

body{
  background-color: rgb(51,0,111);
/*   display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center; */

  
}


.btn-primary{
  background-color: rgb(51,0,111);
}