body {
  margin: 0;
  background-color: rgb(31, 155, 129);
}

#main-title {
  width: 100%;
  padding-top: 120px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Bungee Shade";
  font-size: 60px;
  text-shadow: 0 0 10px solid black;
  color: black;
}

a:link {
  color: #b35da9;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}
h2 {
  text-align: center;
  margin: 10px;
  font-family: "Bungee Outline";
  font-size: 50px;
  text-shadow: 0 0 10px solid black;
}
#album-title {
  font-size: 80px;
  line-height: 10px;
  /*neon text inspired by Elahe Karami */
  color: #fff;
  text-shadow: 0 3px 12px #cb60d8, 0 -3px 12px #cb60d8, -3px 0px 12px #cb60d8,
    3px 0px 12px #cb60d8;
  animation: blink 3.5s linear infinite;
}

@keyframes blink {
  0%,
  48%,
  54% {
    color: #000000;
    text-shadow: none;
  }
  50%,
  52% {
    color: #e8e8e8;
    text-shadow: 0 3px 12px #cb60d8, 0 -3px 12px #cb60d8, -3px 0px 12px #cb60d8,
      3px 0px 12px #cb60d8;
  }
  56% {
    color: #fff;
    text-shadow: 0 3px 20px #46bbf4, 0 -3px 20px #46bbf4, -3px 0px 20px #46bbf4,
      3px 0px 20px #46bbf4;
  }
}
